@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This Website is a complete TODO list management system.</p>
</div>

<div>
    <marquee> TODO LIST MANAGEMENT SYSTEM.</marquee>
</div>

<div class="card text-white bg-primary mb-3" style="max-width: 100%;">
  <div class="card-header">TODO LIST</div>
  <div class="card-body">
@*    <h4 class="card-title">Design</h4>*@
        <p class="card-text">To-do lists are a list of tasks that an individual needs to complete or accomplish. 
            Tasks are typically put in order by priority or importance. 
            A to-do list can be written on a piece of paper or by utilizing task management software. 
            Items on the list can pertain to one's personal or professional life.</p>
  </div>
</div>

<div class="row">
  <div class="card text-white bg-success mb-3 m-auto" style="max-width: 40%;">
  <div class="card-header">About</div>
  <div class="card-body">
    <p class="card-text">Beginner's ASP.NET core project.</p>
  </div>
</div>

 <div class="card text-white bg-success mb-3 m-auto" style="max-width: 40%;">
  <div class="card-header">Target</div>
  <div class="card-body">
    <p class="card-text">To get rich.</p>
  </div>
</div>
</div>


<div class="card mb-3">
    <h3 class="card-header">About Me</h3>
    <div class="card-body">
        <h5 class="card-title">Kshitiz Dhakal</h5>
        <h6 class="card-subtitle text-muted">IT Engineer.</h6>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
    </svg>
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
