@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This Website is a complete TODO list management system.</p>
</div>

<div>
    <marquee> TODO LIST MANAGEMENT SYSTEM.</marquee>
</div>

<div class="card text-white bg-primary mb-3" style="max-width: 100%;">
  <div class="card-header">TODO LIST</div>
  <div class="card-body">
@*    <h4 class="card-title">Design</h4>*@
        <p class="card-text">To-do lists are a list of tasks that an individual needs to complete or accomplish. 
            Tasks are typically put in order by priority or importance. 
            A to-do list can be written on a piece of paper or by utilizing task management software. 
            Items on the list can pertain to one's personal or professional life.</p>
  </div>
</div>

<div class="row">
  <div class="card text-white bg-success mb-3 m-auto" style="max-width: 40%;">
  <div class="card-header">About</div>
  <div class="card-body">
    <p class="card-text">Beginner's ASP.NET core project.</p>
  </div>
</div>

 <div class="card text-white bg-success mb-3 m-auto" style="max-width: 40%;">
  <div class="card-header">Target</div>
  <div class="card-body">
    <p class="card-text">To manage time.</p>
  </div>
</div>
</div>


<div class="card mb-3">
    <h3 class="card-header">About Me</h3>
    <div class="card-body">
        <h5 class="card-title text-center">Kshitiz Dhakal</h5>
        <h6 class="card-subtitle text-muted text-center">IT Engineer</h6>
    </div>
    <img src="https://media.licdn.com/dms/image/D5603AQHFsKDvyg2quQ/profile-displayphoto-shrink_400_400/0/1676125520320?e=1683158400&v=beta&t=Bi2PM8zO0NyHGMMO6I5S4UbSrUXbB8qGTjgBqzMKxKo" alt="photo" class="col-3 mx-auto d-block" />
    <div class="card-body">
        <p class="card-text fw-bold">Some Projects Done with dotnet:</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Tournament Tracker with winforms</li>
        <li class="list-group-item">Book Category List</li>
        <li class="list-group-item">To-DO List</li>
    </ul>
    <div class="card-body">
        <a href="https://github.com/kshitiz28" class="card-link" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/kshitiz-dhakal-524076248/" class="card-link" target="_blank">LinkedIn</a>
    </div>
</div>
