@model IEnumerable<todo>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="col pt-4">
        <div class="col-3 m-auto">
            <h2 class="text-info">TODO List</h2>
        </div>
        <div class="text-end">
            <a asp-controller="Todo" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Category
            </a>
        </div>
    </div>
<br />
<br />
<br />
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Importance</th>
            <th scope="col">Date And Time</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-primary">
            @foreach (var obj in Model)
            {
                <th scope="row">@obj.title</th>
                <td>@obj.importance</td>
                <td>@obj.CreatedDateTime</td>
            }
        </tr>
    </tbody>
</table>

</div>